* {
  margin:0;
}
body {
  margin:0;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #465770
}

#showcase {
  background-image:url('../img/showcase.jpg');
  background-size:cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
  padding: 20px
}

#showcase p {
  font-family: Arial;
  font-size: 15px;
}

#showcase .button {
  font-family: Arial;
  font-size: 18px;
  text-decoration: none;
  color: #465770;
  border: #465770 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 25px;
}

#showcase .button:hover {
  background:#465770;
  color:##465770;
}
